### How can we predict the trend of a company's stock to gain better profits as a retail trader?
>In this project, we are going to attempt to predict the share price movements of a chosen company by training a model to trade. 

### Background:

>Retail traders are normal people like you and me, who decide to jump into the stock market to try and make money out of it for ourselves. 

### (1) What kind of analysis will we be using in this project?

In this project, we are focusing on Technical Analysis.

There are two main types of analysis done on stocks; Technical and Fundamental.

>Fundamental analysis is done by trying to measure the company's intrinsic value through data such as company balance sheets, and accounts.

>Technical analysis done by analysing the price action of a stock, such as the volume of shares traded everyday to determine the stock's supply and demand dynamics. 


### (2) What is our goal in this project?

>Given the sheer amount of indicators available for use in trading, we've decide to focus on a particular group of indicators which are used very often in trading strategies, Moving Averages (MA). 

>We plan to train our model to figure out which type of MA will help us to generate the best returns, which will thus be the best performing MA for traders to use.

In [29]:
# Basic Libraries
import numpy as np
import pandas as pd
from pandas import DataFrame
import requests
import json 


# Constructing parameters to use API 

Key = "C4TMJ9NCKD4YDEQ9" # Api Key
url = "https://www.alphavantage.co/query?" # Website to request data from
daily = "TIME_SERIES_DAILY" # We are doing our analysis on data points of a daily basis.
stock = "AAPL" # Here we are making use of Apple's stock in our analysis

# parameters for "function" in the api.
param = {
    "function" : daily,
    "symbol" : stock,
    "apikey" : Key,
    "outputsize" : "full",
    "interval" : None,
    "time_period" : None,
    "series_type" : None
}

# Indicators that we plan to use

# SMA - Simple Moving Average
# EMA - Exponential Moving Average
# MACD - Moving Average Convergence / Divergence
# SOTCH - Stochastic Oscillator
# RSI - Relative Strength Index
# ADX - Average Directional Movement Index
# CCI - Commidity Channel Index
# AROON -  Aroon Indicator
# BBANDS - Bollinger Bands
# AD - Chaikin A/D line
# OBV - Balance Volume Values

### Due to the constraints of the AlphaVantage API (only 5 pull requests per minute and up to 500 requests per day) and the amount of data we are pulling is likely going to exceed that amount, we have decided to save the pulled requests into files, so we can easily access them and analyse them without encountering any problems.

In [31]:
with open("Data\Stock Time Series Data\AAPL2.json") as json_file: 
    jsonStock = json.load(json_file)
rawStockPrice = pd.DataFrame(jsonStock["Time Series (Daily)"]).T
rawStockPrice.head() # Taking a quick look to see what the data looks like.

             1. open   2. high    3. low  4. close  5. volume
2021-04-09  129.8000  133.0400  129.4700  132.9950  106686703
2021-04-08  128.9500  130.3900  128.5200  130.3600   88844591
2021-04-07  125.8300  127.9200  125.1400  127.9000   83466716
2021-04-06  126.5000  127.1300  125.6500  126.2100   80171253
2021-04-05  123.8700  126.1601  123.0700  125.9000   88651175

For TA's information,

Open is the price of the stock when the market has **started that day**.( Usually 9.30AM ET)

High is the **highest price** the stock managed to reach that day.

Low is the **lowest price** the stock managed to reach that day.

Close is the price of the stock when the market has **closed that day**. ( Usually 5.30PM ET)

Volume is the amount of shares traded that day.( Bought and Sold )

After taking a quick look at the data, we proceed to clean and organise the data, as well as taking only the first 2000 points as a standardisation.

In [36]:
stockPrice = rawStockPrice.iloc[:2000]
stockPrice.info

<bound method DataFrame.info of              1. open   2. high    3. low  4. close  5. volume
2021-04-09  129.8000  133.0400  129.4700  132.9950  106686703
2021-04-08  128.9500  130.3900  128.5200  130.3600   88844591
2021-04-07  125.8300  127.9200  125.1400  127.9000   83466716
2021-04-06  126.5000  127.1300  125.6500  126.2100   80171253
2021-04-05  123.8700  126.1601  123.0700  125.9000   88651175
...              ...       ...       ...       ...        ...
2013-05-07  464.9700  465.7500  453.7000  458.6580   17276900
2013-05-06  455.7100  462.2000  454.3100  460.7100   17737200
2013-05-03  451.3100  453.2300  449.1500  449.9800   12903600
2013-05-02  441.7800  448.5900  440.6300  445.5200   15065300
2013-05-01  444.4600  444.9300  434.3900  439.2900   18103900

[2000 rows x 5 columns]>

#### All the lines in the next box are commented as we have already gathered the data from the API. We're just leaving it here so the TA knows where our data came from.

In [37]:
#Request data from AlphaVantage - data of company's stock price over the past 20 years
#response = requests.get(url,param) # Request for Time-Series Data of stocks
#data = response.json() # Convert Data into json format, and put them into dataframes.
#with open("Data\Stock Time Series Data\AAPL2.json",'w') as json_file:
#   json.dump(data, json_file)
#jsondata = pd.read_json("Data\Stock Time Series Data\AAPL2.json")

# Request data from AlphaVantage
# param["function"] = 'SMA'
# param["interval"] = 'daily'
# param["time_period"] = '10'
# param["series_type"] = 'close'
# response = requests.get(url,param) # Request for Time-Series Data of stocks
# data = response.json() # Convert Data into json format, and put them into dataframes.
# with open("Data\Indicators\SMA10.json",'w') as json_file:
#    json.dump(data, json_file)
# jsondata = pd.read_json("Data\Indicators\SMA10.json")

# param["function"] = 'EMA'
# param["interval"] = 'daily'
# param["time_period"] = '12'
# param["series_type"] = 'close'
# response = requests.get(url,param) # Request for Time-Series Data of stocks
# data = response.json() # Convert Data into json format, and put them into dataframes.
# with open("Data\Indicators\EMA12.json",'w') as json_file:
#    json.dump(data, json_file)
# jsondata = pd.read_json("Data\Indicators\EMA12.json")

# param["function"] = 'WMA'

# response = requests.get(url,param) # Request for Time-Series Data of stocks
# data = response.json() # Convert Data into json format, and put them into dataframes.
# with open("Data\Indicators\WMA10.json",'w') as json_file:
#    json.dump(data, json_file)
# jsondata = pd.read_json("Data\Indicators\WMA10.json")

# param["function"] = 'DEMA'
# response = requests.get(url,param) # Request for Time-Series Data of stocks
# data = response.json() # Convert Data into json format, and put them into dataframes.
# with open("Data\Indicators\DEMA10.json",'w') as json_file:
#    json.dump(data, json_file)
# jsondata = pd.read_json("Data\Indicators\DEMA10.json")

# param["function"] = 'TEMA'
# response = requests.get(url,param) # Request for Time-Series Data of stocks
# data = response.json() # Convert Data into json format, and put them into dataframes.
# with open("Data\Indicators\TEMA10.json",'w') as json_file:
#    json.dump(data, json_file)
# jsondata = pd.read_json("Data\Indicators\TEMA10.json")

# param["function"] = 'TRIMA'
# response = requests.get(url,param) # Request for Time-Series Data of stocks
# data = response.json() # Convert Data into json format, and put them into dataframes.
# with open("Data\Indicators\TRIMA10.json",'w') as json_file:
#     json.dump(data, json_file)
# jsondata = pd.read_json("Data\Indicators\TRIMA10.json")

# param["function"] = 'KAMA'
# response = requests.get(url,param) # Request for Time-Series Data of stocks
# data = response.json() # Convert Data into json format, and put them into dataframes.
# with open("Data\Indicators\KAMA10.json",'w') as json_file:
#    json.dump(data, json_file)
# jsondata = pd.read_json("Data\Indicators\KAMA10.json")

#param["function"] = 'MAMA'
#response = requests.get(url,param) # Request for Time-Series Data of stocks
#data = response.json() # Convert Data into json format, and put them into dataframes.
#with open("Data\Indicators\MAMA10.json",'w') as json_file:
#    json.dump(data, json_file)
#jsondata = pd.read_json("Data\Indicators\MAMA10.json")

In [38]:
# We load up all the required files here.
# We clean up the data by taking only the data we need, then we create a dataframe for every indicator collected, and only take the first 2000 points. 
with open("Data\Stock Time Series Data\AAPL2.json") as json_file: 
    jsonStock = json.load(json_file)
stockPrice = pd.DataFrame(jsonStock["Time Series (Daily)"],["4. close"]).T.iloc[:2000]

with open("Data\Indicators\SMA10.json") as json_file: 
    jsonSMA10 = json.load(json_file)
SMA10 = pd.DataFrame(jsonSMA10["Technical Analysis: SMA"]).T.iloc[:2000]

with open("Data\Indicators\EMA12.json") as json_file: 
    jsonEMA12 = json.load(json_file)
EMA12 = pd.DataFrame(jsonEMA12["Technical Analysis: EMA"]).T.iloc[:2000]

with open("Data\Indicators\WMA10.json") as json_file: 
    jsonWMA10 = json.load(json_file)
WMA10 = pd.DataFrame(jsonWMA10["Technical Analysis: WMA"]).T.iloc[:2000]

with open("Data\Indicators\DEMA10.json") as json_file: 
    jsonDEMA10 = json.load(json_file)
DEMA10 = pd.DataFrame(jsonDEMA10["Technical Analysis: DEMA"]).T.iloc[:2000]

with open("Data\Indicators\TEMA10.json") as json_file: 
    jsonTEMA10 = json.load(json_file)
TEMA10 = pd.DataFrame(jsonTEMA10["Technical Analysis: TEMA"]).T.iloc[:2000]

with open("Data\Indicators\TRIMA10.json") as json_file: 
    jsonTRIMA10 = json.load(json_file)
TRIMA10 = pd.DataFrame(jsonTRIMA10["Technical Analysis: TRIMA"]).T.iloc[:2000]

with open("Data\Indicators\KAMA10.json") as json_file: 
    jsonKAMA10 = json.load(json_file)
KAMA10 = pd.DataFrame(jsonKAMA10["Technical Analysis: KAMA"]).T.iloc[:2000]

with open("Data\Indicators\MAMA10.json") as json_file: 
    jsonMAMA10 = json.load(json_file)
MAMA10 = pd.DataFrame(jsonMAMA10["Technical Analysis: MAMA"]).T.iloc[:2000]

In [51]:
# We combine the collected data here, so we can easily see the results of each technical indicator.

combine = [stockPrice,SMA10, EMA12, WMA10, DEMA10, TEMA10, TRIMA10, KAMA10, MAMA10]

result = pd.concat(combine, axis=1).astype(float)
result.head(20)

,4. close,SMA,EMA,WMA,DEMA,TEMA,TRIMA,KAMA,MAMA,FAMA
2021-04-09,132.995,125.1015,126.0433,127.1373,129.5158,131.5384,124.6348,127.6196,115.6698,82.8259
2021-04-08,130.360,123.8610,124.7794,125.4765,127.3216,129.0204,123.3640,125.2879,115.4948,82.6609
2021-04-07,127.900,122.8340,123.7647,124.1082,125.4950,126.8962,122.3577,123.2937,115.3446,82.4959
2021-04-06,126.210,122.2980,123.0128,123.0896,124.1001,125.2782,121.7130,122.8099,115.2178,82.3308
2021-04-05,125.900,122.0160,122.4315,122.3271,122.9551,123.9261,121.4017,122.6661,115.1067,82.1655
2021-04-01,123.000,121.4250,121.8009,121.5135,121.5431,122.0754,121.2103,122.3595,114.9977,82.0000
2021-03-31,122.150,121.1780,121.5829,121.1822,120.9379,121.2648,121.1733,122.3386,114.9169,81.8342
2021-03-30,119.900,121.4390,121.4798,121.0529,120.5134,120.6436,121.3723,122.3435,114.8438,81.6679
2021-03-29,121.390,122.0060,121.7670,121.4358,120.9601,121.2555,121.7410,122.5697,114.7928,81.5012
2021-03-26,121.210,122.2660,121.8356,121.5951,120.9129,121.1784,122.0417,122.6039,114.7261,81.3339
2021-03-25,120.590,122.2480,121.9493,121.7838,120.9459,121.2043,122.3103,122.6109,114.6606,81.1661
2021-03-24,120.090,122.3850,122.1964,122.1102,121.2837,121.6788,122.6673,122.6355,114.6007,80.9978
2021-03-23,122.540,122.3740,122.5794,122.5255,121.9764,122.7245,122.8670,122.6473,114.5453,80.8290
2021-03-22,123.390,122.2285,122.5866,122.4688,121.8292,122.6182,122.7615,122.6487,114.4645,80.6595
2021-03-19,119.990,121.5255,122.4405,122.1298,121.2665,121.8841,122.3007,122.5972,114.3744,80.4896
2021-03-18,120.530,121.6685,122.8861,122.4350,122.0419,123.0804,121.8328,122.6238,114.3176,80.3194
2021-03-17,124.760,121.6285,123.3145,122.6347,122.8590,124.4642,121.2693,122.6355,114.2549,80.1485
2021-03-16,125.570,121.3585,123.0517,122.0163,122.0845,123.6240,120.7275,122.5947,114.1488,79.9771
2021-03-15,123.990,121.3135,122.5938,121.2424,120.6997,121.8068,120.4795,122.5776,114.0334,79.8054
2021-03-12,121.030,121.6935,122.3399,120.8248,119.5738,120.1957,120.7620,122.5435,113.9328,79.6334

In [52]:
result.corr()

,4. close,SMA,EMA,WMA,DEMA,TEMA,TRIMA,KAMA,MAMA,FAMA
4. close,1.000000,-0.120779,-0.122026,-0.117986,-0.112998,-0.112142,-0.120841,-0.121333,-0.159108,-0.162150
SMA,-0.120779,1.000000,0.999897,0.999837,0.999193,0.998614,0.999962,0.999518,0.986138,0.962069
EMA,-0.122026,0.999897,1.000000,0.999802,0.999127,0.998675,0.999811,0.999617,0.987160,0.963055
WMA,-0.117986,0.999837,0.999802,1.000000,0.999727,0.999378,0.999797,0.999353,0.985429,0.961652
DEMA,-0.112998,0.999193,0.999127,0.999727,1.000000,0.999877,0.999117,0.998563,0.983214,0.959871
TEMA,-0.112142,0.998614,0.998675,0.999378,0.999877,1.000000,0.998493,0.998078,0.983201,0.960084
TRIMA,-0.120841,0.999962,0.999811,0.999797,0.999117,0.998493,1.000000,0.999450,0.985910,0.961823
KAMA,-0.121333,0.999518,0.999617,0.999353,0.998563,0.998078,0.999450,1.000000,0.986506,0.962309
MAMA,-0.159108,0.986138,0.987160,0.985429,0.983214,0.983201,0.985910,0.986506,1.000000,0.986966
FAMA,-0.162150,0.962069,0.963055,0.961652,0.959871,0.960084,0.961823,0.962309,0.986966,1.000000

References we have used to learn to code

https://realpython.com/api-integration-in-python/