# How can we predict the share price movements of a company to better plan our investments?


# Having a financial plan setup is a good way for people to build up their assets. However, some companies tend to do better than others, while other companies go bust without us knowing. How do investors know how which company they should invest in? 

# In this project, we're going to try to predict the price of share movements using the fundamental data of a company, in an attempt to measure a company's intrinsic value. Fundamental data refers to the company performances such as their Earnings, Income Statement, Balance Sheets and Cash Flows of a Company. We are going to extract their quarterly data instead of annual data for this project, as that brings us to having more data points for use during training to improve the accuracy of our model.

In [23]:
# Basic Libraries
import numpy as np
import pandas as pd
from pandas import DataFrame
import requests
import json 


# Constructing parameters to use API 

Key = "C4TMJ9NCKD4YDEQ9" # Api Key
url = "https://www.alphavantage.co/query?" # Website to request data from

# parameters for "function", for fundamental data.
E = "EARNINGS"
IS = "Income_Statement"
BS = "Balance_Sheet"
CF = "Cash_Flow"

paramList = {"function", "symbol", "apikey"}
dict = dict.fromkeys(ParamList)
param = {
    "function" : None,
    "symbol" : "AAPL",
    "apikey" : Key
}

In [24]:
# Request data from AlphaVantage

param["function"] = E  
response_E = requests.get(url,param) # Request for Earnings data

param["function"] = IS 
response_IS = requests.get(url,param) # Request for Income Statement data

param["function"] = BS 
response_BS = requests.get(url,param) # Request for Balance Sheet data

param["function"] = CF
response_CF = requests.get(url,param) # Request for Cash Flows data

In [25]:
# Convert Data into json format, and put them into dataframes.
# We extract the "quarterly reports for each variable, as that is o"
data_E = response_E.json() 
df_E = pd.DataFrame(data_E['quarterlyEarnings'])

data_IS = response_IS.json()
df_IS = pd.DataFrame(data_IS['quarterlyReports']) 

data_BS = response_BS.json()
df_BS = pd.DataFrame(data_BS['quarterlyReports'])

data_CF = response_CF.json()
df_CF = pd.DataFrame(data_CF['quarterlyReports'])

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,2020-12-31,2021-01-27,1.68,1.4158,0.2642,18.6608
1,2020-09-30,2020-10-29,0.73,0.6987,0.0313,4.4797
2,2020-06-30,2020-07-30,0.65,0.51,0.14,27.451
3,2020-03-31,2020-04-30,0.64,0.56,0.08,14.2857
4,2019-12-31,2020-01-28,1.25,1.14,0.11,9.6491
...,...,...,...,...,...,...
95,1997-03-31,1997-04-16,-0.05,-0.04,-0.01,-25
96,1996-12-31,1997-01-15,-0.03,-0.02,-0.01,-50
97,1996-09-30,1996-10-16,0.0018,-0.01,0.0118,118
98,1996-06-30,1996-07-17,-0.02,-0.04,0.02,50
99,1996-03-31,1996-04-17,-0.07,-0.05,-0.02,-40

In [27]:
df_IS

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2020-12-31,USD,44328000000,110801000000,67111000000,67111000000,33534000000,5631000000,5163000000,10794000000,...,None,None,33579000000,4824000000,638000000,28755000000,29340000000,33534000000,None,28755000000
1,2020-09-30,USD,24689000000,64064000000,40009000000,40009000000,14775000000,4936000000,4978000000,9914000000,...,None,None,14901000000,2228000000,634000000,12673000000,12817000000,14775000000,None,12673000000
2,2020-06-30,USD,22680000000,58988000000,37005000000,37005000000,13091000000,4831000000,4758000000,9589000000,...,None,None,13137000000,1884000000,697000000,11253000000,13492000000,13091000000,None,11253000000
3,2020-03-31,USD,22370000000,57556000000,35943000000,35943000000,12853000000,4952000000,4565000000,9517000000,...,None,None,13135000000,1886000000,757000000,11249000000,8878000000,12853000000,None,11249000000
4,2019-12-31,USD,35217000000,91034000000,56602000000,56602000000,25569000000,5197000000,4451000000,9648000000,...,None,None,25918000000,3682000000,785000000,22236000000,22266000000,25569000000,None,22236000000
5,2019-09-30,USD,24313000000,63230000000,39727000000,39727000000,15625000000,4578000000,4110000000,8688000000,...,None,None,16127000000,2441000000,810000000,13686000000,13741000000,15625000000,None,13686000000
6,2019-06-30,USD,20227000000,52943000000,33582000000,33582000000,11544000000,4426000000,4257000000,8683000000,...,None,None,11911000000,1867000000,866000000,10044000000,10904000000,11544000000,None,10044000000
7,2019-03-31,USD,21821000000,57005000000,36194000000,36194000000,13415000000,4458000000,3948000000,8406000000,...,None,None,13793000000,2232000000,1010000000,11561000000,13650000000,13415000000,None,11561000000
8,2018-12-31,USD,32031000000,83420000000,52279000000,52279000000,23346000000,4783000000,3902000000,8685000000,...,None,None,23906000000,3941000000,890000000,19965000000,19742000000,23346000000,None,19965000000
9,2018-09-30,USD,24084000000,62900000000,38816000000,38816000000,16118000000,4216000000,3750000000,7966000000,...,None,None,16421000000,2296000000,868000000,14125000000,13782000000,16118000000,None,14125000000
10,2018-06-30,USD,20421000000,52419000000,32844000000,32844000000,12612000000,4108000000,3701000000,7809000000,...,None,None,13284000000,1765000000,846000000,11519000000,11472000000,12612000000,None,11519000000
11,2018-03-31,USD,23422000000,60345000000,37715000000,37715000000,15894000000,4150000000,3378000000,7528000000,...,None,None,16168000000,2346000000,792000000,13822000000,11877000000,15894000000,None,13822000000
12,2017-12-31,USD,33912000000,87559000000,54381000000,54381000000,26274000000,4231000000,3407000000,7638000000,...,None,None,27030000000,6965000000,734000000,20065000000,19374000000,26274000000,None,20065000000
13,2017-09-30,USD,19931000000,51913000000,32648000000,32648000000,13120000000,3814000000,2997000000,6811000000,...,None,None,13917000000,3203000000,666000000,10714000000,11109000000,13120000000,None,10714000000
14,2017-06-30,USD,17488000000,44806000000,27920000000,27920000000,10768000000,3783000000,2937000000,6720000000,...,None,None,11308000000,2591000000,602000000,8717000000,8594000000,10768000000,None,8717000000
15,2017-03-31,USD,20591000000,52366000000,32305000000,32305000000,14097000000,3718000000,2776000000,6494000000,...,None,None,14684000000,3655000000,530000000,11029000000,10362000000,14097000000,None,11029000000
16,2016-12-31,USD,30176000000,77826000000,48175000000,48175000000,23359000000,3946000000,2871000000,6817000000,...,None,None,24180000000,6289000000,525000000,17891000000,17502000000,23359000000,None,17891000000
17,2016-09-30,USD,17813000000,46402000000,29039000000,29039000000,11761000000,3482000000,2570000000,6052000000,...,None,None,12188000000,3174000000,450000000,9014000000,9755000000,11761000000,None,9014000000
18,2016-06-30,USD,16106000000,41949000000,26252000000,26252000000,10105000000,3441000000,2560000000,6001000000,...,None,None,10469000000,2673000000,409000000,7796000000,8737000000,10105000000,None,7796000000
19,2016-03-31,USD,19921000000,50236000000,30636000000,30636000000,13987000000,3423000000,2511000000,5934000000,...,None,None,14142000000,3626000000,321000000,10516000000,10948000000,13987000000,None,10516000000

,fiscalDateEnding,reportedCurrency,operatingCashflow,paymentsForOperatingActivities,proceedsFromOperatingActivities,changeInOperatingLiabilities,changeInOperatingAssets,depreciationDepletionAndAmortization,capitalExpenditures,changeInReceivables,...,dividendPayoutCommonStock,dividendPayoutPreferredStock,proceedsFromIssuanceOfCommonStock,proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet,proceedsFromIssuanceOfPreferredStock,proceedsFromRepurchaseOfEquity,proceedsFromSaleOfTreasuryStock,changeInCashAndCashEquivalents,changeInExchangeRate,netIncome
0,2020-12-31,USD,38763000000,619000000,None,-30970000000,25615000000,-2666000000,3500000000,21139000000,...,None,None,None,0,None,24775000000,None,43500000000,None,28755000000
1,2020-09-30,USD,20576000000,1127000000,None,-12206000000,8329000000,-2702000000,1784000000,5364000000,...,None,None,-450000000,-5456000000,None,16737000000,None,13197000000,None,12673000000
2,2020-06-30,USD,16271000000,984000000,None,474000000,-44000000,-2752000000,1565000000,1373000000,...,None,None,0,-8425000000,None,15891000000,None,34762000000,None,11253000000
3,2020-03-31,USD,13311000000,353000000,None,10207000000,-8205000000,-2786000000,1853000000,-9290000000,...,None,None,-428000000,0,None,18146000000,None,-161366000000,None,11249000000
4,2019-12-31,USD,30516000000,771000000,None,-5410000000,1165000000,-2816000000,2107000000,-5917000000,...,None,None,-2000000,-2210000000,None,20704000000,None,49384000000,None,22236000000
5,2019-09-30,USD,19910000000,860000000,None,-22085000000,19925000000,-3179000000,2777000000,19320000000,...,None,None,-390000000,-6963000000,None,17054000000,None,28575000000,None,13686000000
6,2019-06-30,USD,11636000000,801000000,None,5496000000,-2698000000,-2933000000,2000000000,214000000,...,None,None,-1000000,0,None,16954000000,None,-10241000000,None,10044000000
7,2019-03-31,USD,11155000000,926000000,None,15536000000,-10914000000,-3040000000,2363000000,-10675000000,...,None,None,None,0,None,23312000000,None,30693000000,None,11561000000
8,2018-12-31,USD,26690000000,836000000,None,8301000000,-10073000000,-3395000000,3355000000,-12035000000,...,None,None,None,0,None,8796000000,None,-18858000000,None,19965000000
9,2018-09-30,USD,19523000000,902000000,None,-21854000000,21040000000,-2754000000,3041000000,22624000000,...,None,None,None,0,None,18763000000,None,6058000000,None,14125000000
10,2018-06-30,USD,14488000000,764000000,None,649000000,1265000000,-2665000000,3267000000,3946000000,...,None,None,None,0,None,20782000000,None,13088000000,None,11519000000
11,2018-03-31,USD,15130000000,733000000,None,26512000000,-24371000000,-2739000000,4195000000,-28468000000,...,None,None,None,0,None,22429000000,None,-17568000000,None,13822000000
12,2017-12-31,USD,28293000000,623000000,None,-52928000000,14993000000,-2745000000,2810000000,15230000000,...,3232000000,None,None,-6969000000,None,10095000000,None,-7202000000,None,20065000000
13,2017-09-30,USD,15749000000,636000000,None,-17037000000,16838000000,None,3865000000,13040000000,...,3252000000,None,None,-6937000000,None,7514000000,None,-1718000000,None,10714000000
14,2017-06-30,USD,8672000000,449000000,None,1030000000,4571000000,None,2277000000,2002000000,...,3281000000,None,None,-10750000000,None,7092000000,None,-3414000000,None,8717000000
15,2017-03-31,USD,12570000000,510000000,None,11168000000,-7725000000,None,2975000000,-7373000000,...,2988000000,None,None,-10975000000,None,6888000000,None,1214000000,None,11029000000
16,2016-12-31,USD,27234000000,497000000,None,-4626000000,704000000,None,3334000000,-1322000000,...,3042000000,None,None,0,None,10851000000,None,4113000000,None,17891000000
17,2016-09-30,USD,16533000000,424000000,None,-16289000000,10608000000,None,3977000000,10313000000,...,3071000000,None,None,-6970000000,None,5778000000,None,-2247000000,None,9014000000
18,2016-06-30,USD,10634000000,327000000,None,4617000000,-1665000000,None,2809000000,-352000000,...,3117000000,None,None,-2400000000,None,10166000000,None,3277000000,None,7796000000
19,2016-03-31,USD,140956000000,169000000,None,10267000000,-6129000000,None,2336000000,-4715000000,...,2879000000,None,None,-15584000000,None,6421000000,None,-4825000000,None,10516000000

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,...,currentLongTermDebt,longTermDebtNoncurrent,shortLongTermDebtTotal,otherCurrentLiabilities,otherNonCurrentLiabilities,totalShareholderEquity,treasuryStock,retainedEarnings,commonStock,commonStockSharesOutstanding
0,2020-12-31,2021-01-27,1.68,1.4158,0.2642,18.6608,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-09-30,2020-10-29,0.73,0.6987,0.0313,4.4797,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-06-30,2020-07-30,0.65,0.51,0.14,27.451,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-03-31,2020-04-30,0.64,0.56,0.08,14.2857,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-31,2020-01-28,1.25,1.14,0.11,9.6491,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019-09-30,2019-10-30,0.76,0.71,0.05,7.0423,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2019-06-30,2019-07-30,0.55,0.53,0.02,3.7736,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2019-03-31,2019-04-30,0.62,0.59,0.03,5.0847,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2018-12-31,2019-01-29,1.05,1.04,0.01,0.9615,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2018-09-30,2018-11-01,0.73,0.7,0.03,4.2857,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2018-06-30,2018-07-31,0.585,0.545,0.04,7.3394,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2018-03-31,2018-05-01,0.6825,0.6725,0.01,1.487,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-12-31,2018-02-01,0.9725,0.965,0.0075,0.7772,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-09-30,2017-11-02,0.5175,0.4675,0.05,10.6952,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-06-30,2017-08-01,0.4175,0.3925,0.025,6.3694,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2017-03-31,2017-05-02,0.525,0.505,0.02,3.9604,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2016-12-31,2017-01-31,0.84,0.8025,0.0375,4.6729,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2016-09-30,2016-10-25,0.4175,0.415,0.0025,0.6024,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2016-06-30,2016-07-26,0.355,0.345,0.01,2.8986,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2016-03-31,2016-04-26,0.475,0.5,-0.025,-5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN