# How can we predict the trend of a stock of a company to gain better profits?

# In this project, we are going to attempt to predict the share price movements of a company by training a model to trade via technical analysis. 

Technical analysis is done by analysing at the data provided by the Time Series data of stocks. There are many indicators out there which try to predict the movement of prices. How do we know which indicator is good or reliable in predicting movement prices? 

In this project, we will be using technical indicators with the highest usage in the API to predict the trends of a stock. By predicting the trend, we will know when we should buy, sell or hold the stock.



## In this project, we're going to try to predict the price of share movements using the fundamental data of a company, in an attempt to measure a company's intrinsic value. Fundamental data refers to the company performances such as their Earnings, Income Statement, Balance Sheets and Cash Flows of a Company. We are going to extract their quarterly data instead of annual data for this project, as that brings us to having more data points for use during training to improve the accuracy of our model.

In [19]:
# Basic Libraries
import numpy as np
import pandas as pd
from pandas import DataFrame
import requests
import json 


# Constructing parameters to use API 

Key = "C4TMJ9NCKD4YDEQ9" # Api Key
url = "https://www.alphavantage.co/query?" # Website to request data from
daily = "TIME_SERIES_DAILY" # We are doing our analysis on data points of a daily basis.
stock = "AAPL" # Here we are making use of Apple's stock in our analysis

# parameters for "function" in the api.
paramList = {"function", "symbol", "apikey"}
dict = dict.fromkeys(paramList)
param = {
    "function" : daily,
    "symbol" : stock,
    "apikey" : Key,
    "outputsize" : "full"
}

In [20]:
# Request data from AlphaVantage


response = requests.get(url,param) # Request for Earnings data

In [28]:
# Convert Data into json format, and put them into dataframes.
# We extract the "quarterly reports for each variable, as that is o"
data = response_E.json() 
df = pd.DataFrame(data["Time Series (Daily)"]).T 
df.head()

             1. open   2. high    3. low  4. close  5. volume
2021-03-12  120.4000  121.1700  119.1600  121.0300   88105050
2021-03-11  122.5400  123.2100  121.2600  121.9600  103026514
2021-03-10  121.6900  122.1700  119.4500  119.9800  111943326
2021-03-09  119.0300  122.0600  118.7900  121.0850  129525780
2021-03-08  120.9300  121.0000  116.2100  116.3600  154376610

In [22]:
df_E.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5380 entries, 1. Information to 1999-11-01
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Meta Data            5 non-null      object
 1   Time Series (Daily)  5375 non-null   object
dtypes: object(2)
memory usage: 126.1+ KB

In [23]:
df_E.describe

<bound method NDFrame.describe of                                                            Meta Data  \
1. Information     Daily Prices (open, high, low, close) and Volumes
2. Symbol                                                       AAPL
3. Last Refreshed                                         2021-03-12
4. Output Size                                             Full size
5. Time Zone                                              US/Eastern
...                                                              ...
1999-11-05                                                       NaN
1999-11-04                                                       NaN
1999-11-03                                                       NaN
1999-11-02                                                       NaN
1999-11-01                                                       NaN

                                                 Time Series (Daily)
1. Information                                                   NaN
2. Symbol                                                        NaN
3. Last Refreshed                                                NaN
4. Output Size                                                   NaN
5. Time Zone                                                     NaN
...                                                              ...
1999-11-05         {'1. open': '84.6200', '2. high': '88.3700', '...
1999-11-04         {'1. open': '82.0600', '2. high': '85.3700', '...
1999-11-03         {'1. open': '81.6200', '2. high': '83.2500', '...
1999-11-02         {'1. open': '78.0000', '2. high': '81.6900', '...
1999-11-01         {'1. open': '80.0000', '2. high': '80.6900', '...

[5380 rows x 2 columns]>